
<div id="kontakt-wrapper">
    <style>.link-8 {
        border-top: solid 2px #ea641d !important;
        padding-top: 28px;
    }</style>
    <div id="kontakt-content">

        <div id="line-9">
            <div class="kontakt-header-text">
                <span>Wir freuen uns<br>
                auf Ihre Nachricht!
                </span>
            </div>
            <div class="technik-text">
                <span>Kontakt</span>
            </div>
        </div>
        <div class="kontakt-blocks">
            <div class="kontakt-block1">
                <div class="icon1"><img src="images/k-icon-1.png" alt="icon1"/></div>
                <span>kontakt@ktm-maranello.de</span>
            </div>
            <div class="kontakt-block1" >
                <div class="icon2"><img src="images/k-icon-2.png" alt="icon2"/></div>
                <span>0324 2425 235235</span>
            </div>
            <div class="kontakt-block1">
                <div class="icon3"><img src="images/k-icon-3.png" alt="icon3"/></div>
                <span>ZEG <br/>
                Longericher Straße 2 <br/>
                50739 Köln</span>
            </div>
            <div class="kontakt-block1" >
                <div class="icon4"><img src="images/k-icon-4.png" alt="icon4"/></div>
                <span>Join us at <br/>
                Facebook</span>
            </div>
            <div class="kontakt-block1" >
                <div class="icon5"><img src="images/k-icon-5.png" alt="icon5"/></div>
                <span>www.zeg.de</span>
            </div>
        </div>

        <div class="title"><h1 align="center">Finden Sie uns offline</h1></div>
        <div id="kontakt-map"></div>
        <div class="title"><h1 align="center">Schreiben Sie uns</h1></div>
        <div id="kontakt-form">
        <form class="contakt-block" id="contact-form">
            <div class="left-side">
                <input type="text" name="name" placeholder="Name" width="60px"> <br/>
                <input type="text" name="email" placeholder="eMail">
            </div>
            <div class="right-side">
                <textarea placeholder="lhre Nachricht" name="text"></textarea> <br/>
                <span class="alert"></span>
                <div class="bottom">
                    <div></div>
                    <input type="submit" value="Absenden">
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#contact-form').on('submit', function () {
            $.ajaxSetup({
                url: './mail.php',
                global: false,
                type: "POST",
                dataType: 'JSON'
            });
            $.ajax({
                data: $('#contact-form').serialize(),

                success: function (res) {
                    if (res.error) {
                        $('.alert').html(res.message).addClass('error').removeClass('success');
                    } else {
                        $('.alert').html(res.message).addClass('success').removeClass('error');
                    }
                },
                error: function (e) {
                    console.log(e);
                }
            })
            return false;
        });
    });
</script>
</body>
</html>