   <div id="story-wrapper">
    <div id="story-content">

        <div id="line-5">
            <div id="story-logo">
                <img src="images/logo-story.jpg" alt="story">
            </div>
           
        </div>
        <div id="content_story-text">
           <div id="text1-story"><p>Die österreichische Traditionsfirma KTM hat belastbare Technik mit einem leichten Rahmen kombiniert.
           </p>
            </div>

<div id="text2-story"><p>Das Ergebnis: Ein sportliches, reisetaugliches Alltagsrad, das einfach Spaß macht. Bereits vor drei Jahren belohnten die strengen Tester der Verbraucherzeitschrift aktivRadfahren diese Leistung beim Maranello Light mit einem „Sehr Gut“.</p>
            </div>

<div id="text3-story"><p>Nachvollziehbare Kundenwüsche fließen fortlaufend ins Programm ein. 2014 stehen Ihnen drei verschiedene Modelle zur Wahl. Freunde der Scheibenbremse bewundern das Maranello Light Disc. Ein Übersetzungsverhältnis von 407% bietet die Shimano 11 Gang Nabenschaltung im Maranello 11 Light. Bei allen dieser Räder stehen drei Rahmenformen in passenden Höhen zur Auswahl. Die Sattelstütze des Rades ist so bemessen, dass auf Wunsch eine gefederte Sattelstütze problemlos nachgerüstet werden kann. Auch Zubehör wie Schloss, Tacho und Packtaschen sind passend zum Maranello erhältlich.</p>
            </div>
            <div id="text-block-story">
                
           <div id="text-block-img">
               <img src="images/text-block-story.jpg" alt="block">
           </div>
            </div>
            <div id="text5"><p>Ihr KTM Händler vor Ort berät Sie gerne. Machen Sie doch bei dieser Gelegenheit gleich eine Probefahrt. Vielleicht ist diese bereits der Anfang Ihrer persönlichen Maranello Geschichte. 
Ihr KTM Händler vor Ort berät Sie gerne. Machen Sie doch bei dieser Gelegenheit gleich eine Probefahrt. Vielleicht ist diese bereits der Anfang Ihrer persönlichen Maranello Geschichte. Ihr KTM Händler vor Ort berät Sie gerne. Machen Sie doch bei dieser Gelegenheit gleich eine Probefahrt. Vielleicht ist diese bereits der Anfang Ihrer persönlichen Maranello Geschichte. Ihr KTM Händler vor Ort berät Sie gerne. Machen Sie doch bei dieser Gelegenheit gleich eine Probefahrt. Vielleicht ist diese bereits der Anfang Ihrer </p>
          </div>

<div id="text4-story"><p>Nachvollziehbare Kundenwüsche fließen fortlaufend ins Programm ein. 2014 stehen Ihnen drei verschiedene Modelle zur Wahl. Freunde der Scheibenbremse bewundern das Maranello Light Disc. Ein Übersetzungsverhältnis von 407% bietet die Shimano 11 Gang Nabenschaltung im Maranello 11 Light. Bei allen dieser Räder stehen drei Rahmenformen in passenden Höhen zur Auswahl. Die Sattelstütze des Rades ist so bemessen, dass auf Wunsch eine gefederte Sattelstütze problemlos nachgerüstet werden kann. Auch Zubehör wie Schloss, Tacho und Packtaschen sind passend zum Maranello erhältlich.</p>
            </div>

          
        </div>
    </div>
</div>
</body>
</html>