   <div id="technik-wrapper">
       <style>.link-3 {
           border-top: solid 2px #ea641d !important;
           padding-top: 28px;
       }</style>
    <div id="technik-content">

        <div id="line-6">
            <div id="technik-text">
            <span>Die Technik</span>
            </div>
        </div>
        <div id="content_technik-text">
          <div id="block1-technik">
              <div id="block1-text-technik">
                 <p> Die österreichische Traditionsfirma KTM hat belastbare Technik mit einem leichten Rahmen kombiniert.</p>
                  </div>
                    <div id="block2-text-technik">
                    <p>Das Ergebnis: Ein sportliches, reisetaugliches Alltagsrad, das einfach Spaß macht. Bereits vor drei Jahren belohnten die strengen Tester der Verbraucherzeitschrift aktivRadfahren diese Leistung beim Maranello Light mit einem „Sehr Gut“.</p>
                    </div>
                    <div id="block3-text-technik">
                    <p> Nachvollziehbare Kundenwüsche fließen fortlaufend ins Programm ein. 2014 stehen Ihnen drei verschiedene Modelle zur Wahl. Freunde der Scheibenbremse bewundern das Maranello Light Disc. Ein Übersetzungsverhältnis von 407% bietet die Shimano 11 Gang Nabenschaltung im Maranello 11 Light. Bei allen dieser Räder stehen drei Rahmenformen in passenden Höhen zur Auswahl. Die Sattelstütze des Rades ist so bemessen, dass auf Wunsch eine gefederte Sattelstütze problemlos nachgerüstet werden kann. Auch Zubehör wie Schloss, Tacho und Packtaschen sind passend zum Maranello erhältlich.</p>
                  </div>
              </div>
              <div id="img1-technik">
                  <div id="img1-technik-text">
            <span>Das KTM Maranello ist eine Erfolgsstory.</span>
            </div>
              </div>
              <div id="block2-technik">
              <div id="block21-text-technik">
                 <p>  Die österreichische Traditionsfirma KTM hat belastbare Technik mit einem leichten Rahmen kombiniert.</p>
                  </div>
                    <div id="block22-text-technik">
                    <p>Das Ergebnis: Ein sportliches, reisetaugliches Alltagsrad, das einfach Spaß macht. Bereits vor drei Jahren belohnten die strengen Tester der Verbraucherzeitschrift aktivRadfahren diese Leistung beim Maranello Light mit einem „Sehr Gut“.
Nachvollziehbare Kundenwüsche fließen fortlaufend ins Programm ein. 2014 stehen Ihnen drei verschiedene Modelle zur Wahl.</p>
                    </div>
                   
              </div>
              <div id="img2-technik">
                  <div id="img2-technik-text">
            <span>Das KTM Maranello ist eine Erfolgsstory.</span>
            </div>
              </div>
              <div id="block3-technik">
              <div id="block31-text-technik">
                 <p>  Die österreichische Traditionsfirma KTM hat belastbare Technik mit einem leichten Rahmen kombiniert.</p>
                  </div>
                    </div>
          </div>
           

         

 
        </div>
    </div>
</div>
</body>
</html>