<script>
    var slider;
    $(document).ready(function () {
        slider = $('#slider2').bxSlider({
            auto: false,
            autoControls: false,
            pause: 5000,
            slideMargin: 20,
            nextText: '',
            prevText: '',
            onSlideBefore: function($slideElement, oldIndex, newIndex){
                $('span[id^="btn-slide-"]').removeClass('active');
                $('#btn-slide-' + newIndex).addClass('active');

                $('div[id^="content-"]').hide();
                $('#content-' + newIndex).show();
            }
        });

        $('#slider-left-arrow').on('click', function () {
            $('.bx-prev').trigger('click');
        });
        $('#slider-right-arrow').on('click', function () {
            $('.bx-next').trigger('click');
        });

        $('span[id^="btn-slide-"]').on('click', function(){
            slider.goToSlide($(this).attr('slide'));

        })
    });

</script>


<div id="technikal-data-wrapper">
    <style>.link-1 {
        border-top: solid 2px #ea641d !important;
        padding-top: 28px;
    }</style>
    <div id="slider-arrows">
        <div id="slider-left-arrow" class="slider-arrow">&nbsp;</div>
        <div id="slider-right-arrow" class="slider-arrow">&nbsp;</div>
    </div>
    <div id="technikal-data-content">

        <div id="line-8">
            <div id="bg-1-middle">
                <div id="model">
                    <span>MODELLE :</span>
                    <span id="btn-slide-0" slide="0" class="active">11 LIGHT</span>
                    <span id="btn-slide-1" slide="1">LIGHT</span>
                    <span id="btn-slide-2" slide="2">LIGHT DISC</span>
                </div>
            </div>
            <ul id="slider2">
                <li>
                    <div class="slide">
                        <div class="technikal-data-text">
                            <span>Maranello 1</span>
                        </div>
                        <div class="price">
                            <span class="price-1">UVP Euro  <span class="red"><span
                                    class="white">1649,-</span></span></span><br>
                <span class="price-2"><h1>RRP : Euro 1349,-</h1>
                Zur Zeit in der Werbung Angebot beibr <br>
                 teilnehmenden Händlern</span>
                        </div>
                        <div class="vel">
                            <img src="images/vel.png" alt="vel">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide">
                        <div class="technikal-data-text">
                            <span>Maranello 2</span>
                        </div>
                        <div class="price">
                            <span class="price-1">UVP Euro  <span class="red"><span
                                    class="white">1649,-</span></span></span><br>
                <span class="price-2"><h1>RRP : Euro 1349,-</h1>
                Zur Zeit in der Werbung Angebot beibr <br>
                 teilnehmenden Händlern</span>
                        </div>
                        <div class="vel">
                            <img src="images/vel.png" alt="vel">
                        </div>
                    </div>
                </li>
                <li>
                    <div class="slide">
                        <div class="technikal-data-text">
                            <span>Maranello 3</span>
                        </div>
                        <div class="price">
                            <span class="price-1">UVP Euro  <span class="red"><span
                                    class="white">1649,-</span></span></span><br>
                <span class="price-2"><h1>RRP : Euro 1349,-</h1>
                Zur Zeit in der Werbung Angebot beibr <br>
                 teilnehmenden Händlern</span>
                        </div>
                        <div class="vel">
                            <img src="images/vel.png" alt="vel">
                        </div>
                    </div>
                </li>
            </ul>
            <div id="bg-2-middle">
            </div>
        </div>






        <div class="content_technikal-data-text" id="content-0">
            <h1>Technische Daten 1</h1>

            <div class="product">
                <table>
                    <tr>
                        <td width="200px" style="color:#1b1b1b; font-weight: bold;">Rahmenlackierung</td>
                        <td>black-matt (white+silver+red)</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Reifen</td>
                        <td>Schwalbe Marathon Racer (40-622), leichter Faltreifen</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Rahmenhöhe</td>
                        <td>Herren 46-51-56-60, Damen 46-51-56, Damen-Einrohr 46-51-56</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Vorbau</td>
                        <td>KTM Line AS-021, A-Head 17°, 31.8</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Lenker</td>
                        <td>KTM Line MTB 442A, Lowriser 31,8 - 620mm</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Rahmen</td>
                        <td>KTM Trekking Rahmen neu 2014 - 3-fach konifiziert Aluminium 6061 - triplebutted</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Sattelstütze</td>
                        <td>KTM Line Elegance, Elastomer gefederte Stütze, 27.2/300</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Federgabel</td>
                        <td>Suntour SF14-NCX-E LO AIR 700C, hydr. Lockout Magnesiumgabel, hydraulische Dämpfung,
                            Luftunterstützung
                        </td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Sattel</td>
                        <td>Selle Royal Ariel</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Pedale</td>
                        <td>VP 615, Alu Trekking Pedal, Antirutschbelag</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Schalthebel</td>
                        <td>Shimano Alfine 11 Rapidfire plus Schalthebel</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Ständer</td>
                        <td>Hebie 0662M Alu/GFK-Hinterbauständer, Länge verstellbar</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Bremshebel</td>
                        <td>Shimano Alfine 11</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Kettenschutz</td>
                        <td>Horn Catena 09, Aluminium-Kettenschutz</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Bremse vorne</td>
                        <td>Shimano Alfine 11 Disc-hydr., Ø180 mm</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Schutzbleche</td>
                        <td>SKS-45, mit Spoiler und Rückstrahler, vorne Unterlaufstreben</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Bremse hinten</td>
                        <td>Shimano Alfine 11 Disc-hydr., Ø160 mm</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Zahnkranz hinten</td>
                        <td>Shimano 22Z - Kette antirost</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Gepäckträger</td>
                        <td>KTM-light 14 Gepäckträger, mit Racktime Snap-IT System</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Kettenradgarnitur</td>
                        <td>Suntour 42Z Zähne - Kettenblätter geschraubt, mit Schutzring</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Scheinwerfer</td>
                        <td>Fuxon DHL-F50-DL, LED-Scheinwerfer 50 Lux mit Tagfahrlicht, mit Sensor und LED-Standlicht
                        </td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Innenlager</td>
                        <td>Suntour BB10-XCT Kompaktlager 4-k</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Rücklicht</td>
                        <td>Suntour BB10-XCT Kompaktlager 4-k
                            Fuxon R-99B, flaches Toplight, Bremslichtfunktion *, LED-Standlicht
                        </td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Nabe vorne</td>
                        <td>Shimano Alfine 11 Centerlock, Nabendynamo 6V-3W</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Gewicht</td>
                        <td>D51 14,7 kg / E51 15,0 kg</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Nabe hinten</td>
                        <td>Shimano Alfine 11 (SG-S700 = Leerlaufnabe)</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Speichen</td>
                        <td>DT-Competition 2x1.8 konifiziert, Inox</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Felge</td>
                        <td>Ryde Taurus Disc 700C, geöst</td>
                    </tr>
                </table>
            </div>
            <h1>Downloads</h1>

            <div class="doc-downloads">
                <div class="doc-left-item">
                    <a href="#">
                        <span class="left-ico"></span>
                                    <span class="text-hover"> 
                                        <span class="text1">Datenblatt</span> <br>
                                        <span class="text2">KTM Maranello 11 Light</span> 
                                    </span>
                    </a>
                </div>
                <div class="doc-right-item">
                    <a href=""><span class="left-ico"></span>
                                    <span class="text-hover"><span class="text1">Pflegeinformationen</span> <br>
                                    <span class="text2">KTM Maranello 11 Light</span> </span>
                    </a>
                </div>
            </div>
        </div>










        <div class="content_technikal-data-text" id="content-1" style="display: none">
            <h1>Technische Daten 2</h1>

            <div class="product">
                <table>
                    <tr>
                        <td width="200px" style="color:#1b1b1b; font-weight: bold;">Rahmenlackierung</td>
                        <td>black-matt (white+silver+red)</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Reifen</td>
                        <td>Schwalbe Marathon Racer (40-622), leichter Faltreifen</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Rahmenhöhe</td>
                        <td>Herren 46-51-56-60, Damen 46-51-56, Damen-Einrohr 46-51-56</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Vorbau</td>
                        <td>KTM Line AS-021, A-Head 17°, 31.8</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Lenker</td>
                        <td>KTM Line MTB 442A, Lowriser 31,8 - 620mm</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Rahmen</td>
                        <td>KTM Trekking Rahmen neu 2014 - 3-fach konifiziert Aluminium 6061 - triplebutted</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Sattelstütze</td>
                        <td>KTM Line Elegance, Elastomer gefederte Stütze, 27.2/300</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Federgabel</td>
                        <td>Suntour SF14-NCX-E LO AIR 700C, hydr. Lockout Magnesiumgabel, hydraulische Dämpfung,
                            Luftunterstützung
                        </td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Sattel</td>
                        <td>Selle Royal Ariel</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Pedale</td>
                        <td>VP 615, Alu Trekking Pedal, Antirutschbelag</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Schalthebel</td>
                        <td>Shimano Alfine 11 Rapidfire plus Schalthebel</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Ständer</td>
                        <td>Hebie 0662M Alu/GFK-Hinterbauständer, Länge verstellbar</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Bremshebel</td>
                        <td>Shimano Alfine 11</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Kettenschutz</td>
                        <td>Horn Catena 09, Aluminium-Kettenschutz</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Bremse vorne</td>
                        <td>Shimano Alfine 11 Disc-hydr., Ø180 mm</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Schutzbleche</td>
                        <td>SKS-45, mit Spoiler und Rückstrahler, vorne Unterlaufstreben</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Bremse hinten</td>
                        <td>Shimano Alfine 11 Disc-hydr., Ø160 mm</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Zahnkranz hinten</td>
                        <td>Shimano 22Z - Kette antirost</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Gepäckträger</td>
                        <td>KTM-light 14 Gepäckträger, mit Racktime Snap-IT System</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Kettenradgarnitur</td>
                        <td>Suntour 42Z Zähne - Kettenblätter geschraubt, mit Schutzring</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Scheinwerfer</td>
                        <td>Fuxon DHL-F50-DL, LED-Scheinwerfer 50 Lux mit Tagfahrlicht, mit Sensor und LED-Standlicht
                        </td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Innenlager</td>
                        <td>Suntour BB10-XCT Kompaktlager 4-k</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Rücklicht</td>
                        <td>Suntour BB10-XCT Kompaktlager 4-k
                            Fuxon R-99B, flaches Toplight, Bremslichtfunktion *, LED-Standlicht
                        </td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Nabe vorne</td>
                        <td>Shimano Alfine 11 Centerlock, Nabendynamo 6V-3W</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Gewicht</td>
                        <td>D51 14,7 kg / E51 15,0 kg</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Nabe hinten</td>
                        <td>Shimano Alfine 11 (SG-S700 = Leerlaufnabe)</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Speichen</td>
                        <td>DT-Competition 2x1.8 konifiziert, Inox</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Felge</td>
                        <td>Ryde Taurus Disc 700C, geöst</td>
                    </tr>
                </table>
            </div>
            <h1>Downloads</h1>

            <div class="doc-downloads">
                <div class="doc-left-item">
                    <a href="#">
                        <span class="left-ico"></span>
                                    <span class="text-hover"> 
                                        <span class="text1">Datenblatt</span> <br>
                                        <span class="text2">KTM Maranello 11 Light</span> 
                                    </span>
                    </a>
                </div>
                <div class="doc-right-item">
                    <a href=""><span class="left-ico"></span>
                                    <span class="text-hover"><span class="text1">Pflegeinformationen</span> <br>
                                    <span class="text2">KTM Maranello 11 Light</span> </span>
                    </a>
                </div>
            </div>
        </div>









        <div class="content_technikal-data-text" id="content-2" style="display: none">
            <h1>Technische Daten 3</h1>

            <div class="product">
                <table>
                    <tr>
                        <td width="200px" style="color:#1b1b1b; font-weight: bold;">Rahmenlackierung</td>
                        <td>black-matt (white+silver+red)</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Reifen</td>
                        <td>Schwalbe Marathon Racer (40-622), leichter Faltreifen</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Rahmenhöhe</td>
                        <td>Herren 46-51-56-60, Damen 46-51-56, Damen-Einrohr 46-51-56</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Vorbau</td>
                        <td>KTM Line AS-021, A-Head 17°, 31.8</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Lenker</td>
                        <td>KTM Line MTB 442A, Lowriser 31,8 - 620mm</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Rahmen</td>
                        <td>KTM Trekking Rahmen neu 2014 - 3-fach konifiziert Aluminium 6061 - triplebutted</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Sattelstütze</td>
                        <td>KTM Line Elegance, Elastomer gefederte Stütze, 27.2/300</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Federgabel</td>
                        <td>Suntour SF14-NCX-E LO AIR 700C, hydr. Lockout Magnesiumgabel, hydraulische Dämpfung,
                            Luftunterstützung
                        </td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Sattel</td>
                        <td>Selle Royal Ariel</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Pedale</td>
                        <td>VP 615, Alu Trekking Pedal, Antirutschbelag</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Schalthebel</td>
                        <td>Shimano Alfine 11 Rapidfire plus Schalthebel</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Ständer</td>
                        <td>Hebie 0662M Alu/GFK-Hinterbauständer, Länge verstellbar</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Bremshebel</td>
                        <td>Shimano Alfine 11</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Kettenschutz</td>
                        <td>Horn Catena 09, Aluminium-Kettenschutz</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Bremse vorne</td>
                        <td>Shimano Alfine 11 Disc-hydr., Ø180 mm</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Schutzbleche</td>
                        <td>SKS-45, mit Spoiler und Rückstrahler, vorne Unterlaufstreben</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Bremse hinten</td>
                        <td>Shimano Alfine 11 Disc-hydr., Ø160 mm</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Zahnkranz hinten</td>
                        <td>Shimano 22Z - Kette antirost</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Gepäckträger</td>
                        <td>KTM-light 14 Gepäckträger, mit Racktime Snap-IT System</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Kettenradgarnitur</td>
                        <td>Suntour 42Z Zähne - Kettenblätter geschraubt, mit Schutzring</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Scheinwerfer</td>
                        <td>Fuxon DHL-F50-DL, LED-Scheinwerfer 50 Lux mit Tagfahrlicht, mit Sensor und LED-Standlicht
                        </td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Innenlager</td>
                        <td>Suntour BB10-XCT Kompaktlager 4-k</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Rücklicht</td>
                        <td>Suntour BB10-XCT Kompaktlager 4-k
                            Fuxon R-99B, flaches Toplight, Bremslichtfunktion *, LED-Standlicht
                        </td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Nabe vorne</td>
                        <td>Shimano Alfine 11 Centerlock, Nabendynamo 6V-3W</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Gewicht</td>
                        <td>D51 14,7 kg / E51 15,0 kg</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Nabe hinten</td>
                        <td>Shimano Alfine 11 (SG-S700 = Leerlaufnabe)</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Speichen</td>
                        <td>DT-Competition 2x1.8 konifiziert, Inox</td>
                    </tr>
                    <tr>
                        <td width="115px" style="color:#1b1b1b; font-weight: bold;">Felge</td>
                        <td>Ryde Taurus Disc 700C, geöst</td>
                    </tr>
                </table>
            </div>
            <h1>Downloads</h1>

            <div class="doc-downloads">
                <div class="doc-left-item">
                    <a href="#">
                        <span class="left-ico"></span>
                                    <span class="text-hover"> 
                                        <span class="text1">Datenblatt</span> <br>
                                        <span class="text2">KTM Maranello 11 Light</span> 
                                    </span>
                    </a>
                </div>
                <div class="doc-right-item">
                    <a href=""><span class="left-ico"></span>
                                    <span class="text-hover"><span class="text1">Pflegeinformationen</span> <br>
                                    <span class="text2">KTM Maranello 11 Light</span> </span>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>