   <div id="tests-wrapper">
       <style>.link-2 {
           border-top: solid 2px #ea641d !important;
           padding-top: 28px;
       }</style>
    <div id="tests-content">

        <div id="line-7">
            <div id="tests-text1">
                <span class="text-h">Von Profis gebaut -
                <br>&amp; Experten getestet</span> 
            </div>
            <div id="tests-text2">
            <span class="text-p">Hier wurden die Räder getestet</span>
            </div>
               <div id="tests-logo">
                <img src="images/technikil-data-img.png" alt="tests">
            </div>
        </div>
        <div id="tests-block">
           <div>
            <div id="block-1-text">
                <h1>SEHR GUT</h1>
                <span>ElektroRad 4/2013</span> <br>
                </div>
                <div id="block-tab">
                    <table>
                        <tr>
                            <td width="115px">Modell: </td>
                            <td>Maranello 11 Light</td>
                        </tr>
                        <tr>
                            <td>Testurteil: </td>
                            <td> Sehr Gut</td>
                        </tr>
                        <tr>
                            <td style="vertical-align:top;">Fazit: </td>
                            <td > Sportiver Tourer mit begeisternder Agilität. Bei soviel Fahrspaß wurden leichte <br> Rahmenschwächen für viele Käufer Nebensache.</td>
                        </tr>
                    </table>
                </div> 
                </div>
           <div id="bg-tests"></div>

                <span id="block-hover" ><a class="a-over" href="./images/bg-technical-data.png" data-rel="lightcase"><span>Open</span></a></span>
            
        </div>
       
    </div>
</div>
</body>
</html>



             
                                              