@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400);

* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(244, 244, 244);
}

header {
    font-family: 'Helvetica Neue', Helvetica, Ariarl, sans-serif;
    font-size: 14px;
    background: rgb(244, 244, 244);
    text-align: center;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    background: #ffffff;
    /*margin-bottom: -3px;*/
    background: rgb(244, 244, 244);
}

#img-header img {
    float: left;
}

ul {
    list-style: none;
}

#header-wraper {
    width: 1280px;
    height: 75px;
    background: #ecf0f1;
    margin: 0 auto;
}

#logo-header {
    float: left;
    margin: 15px 0 13px 80px;
}

#header-wraper ul {
    display: inline;

}

#header-wraper li {
    float: left;
    margin-right: 45px;
    color: #3c3c3c;
    margin-top: 30px;

}

#header-wraper li a {
    color: #3c3c3c;
    /*font: regular 18px HelveticaNeue;*/
    text-decoration: none;

}

#header-f {
    float: right;
    margin: 25px 96px 22px 0;
}

.link-1 {
    margin-left: 200px;
}

/* footer */

footer {
    width: 1280px;
    margin: 0 auto;
    background: white;
    padding-top: 70px;
}

#footer-wraper {
    width: 100%;
    height: 465px;
    background: #ffffff;

}

#footer-blocks {
    display: inline-flex;
    padding-bottom: 60px;
    color: #7c7c7c;
    padding-left: 170px;
}

.block-1 {
    display: block;
    padding-right: 30px;
}

.block-2 {
    display: block;
    padding-right: 50px;
}

.block-3 {
    display: block;
}

.block-1 img {
    float: left;
}

.block-2 img {
    float: left;
}

.block-3 img {
    float: left;
}

.block-text {
    display: inline-block;
    padding-left: 15px;
}

.block-text a {
    color: #007ba9;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 11px;
}

#footer-blocks h1 {
    margin-bottom: 10px;
}

.block-text h1 {
    font-family: Lato, Helvetica, sans-serif;
    font-size: 17px;
}

.block-text p {
    font-family: Lato, Helvetica, sans-serif;
    font-size: 11px;
}

#footer-blocks img {
    margin-top: 11px;
}

#line {
    width: 1280px;
    height: 1px;
    background: #b2b2b2;
}

#map-footer {

    width: 764px;
    height: 248px;
}

#block-map {
    display: block;
}

#map-footer {
    float: left;
}

#map-text {
    float: left;
    display: -webkit-box;
    padding-top: 25px;
}

#text-left {
    font-family: Lato, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 75px;
}

#text-left h1 {
    color: #ea641d;
    font-size: 12px;
}

#text-left span {
    color: #8f8f8f;
}

#text-right {
    font-family: Roboto;
    font-weight: 300;
    color: #8f8f8f;
    font-size: 10px;
    padding-left: 100px;
}

#text-right h1 {
    color: #ea641d;
    font-size: 12px;
}

#text-left-blok1 {
    padding-bottom: 30px;
}

#text-right-blok1 {
    padding-bottom: 20px;
}

#text-right-blok2 {
    padding-bottom: 20px;
}

#line2 {
    height: 95px;
    width: 1280px;
    background: #ecf0f1;
    float: left;

}

#line2-text span {
    color: #b1b1b1;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
}

#line2-text {
    padding-top: 10px;
}

/*faq-page */

#faq-wrapper {
    background: #f4f4f4;
}

#faq-content {
    width: 1280px;
    margin: 0 auto;
    background: #ffffff;
}

#faq-text {
    padding: 235px 0px 0px 320px;
}

#faq-text span {

    font-family: Lato, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 51px;
    font-style: italic;
}

#line-2 {
    width: 1280px;
    height: 565px;
    background: #ea641d;
}

#faq-logo {
    padding: 162px 0 0 135px;

}

#content_faq-text {
    font-family: Lato, Helvetica, sans-serif;
    padding: 80px 245px 0px 130px;
    font-size: 14px;
}

#content_faq-text h1 {
    font-size: 15px;
    color: #222a31;
    padding-bottom: 10px;
}

#content_faq-text p {

    color: #6d6d6d;
}

#text1 {
    padding-bottom: 42px;
}

/* hendlersuche-page */

#hendlersuche-wrapper {
    background: #f4f4f4;
}

#hendlersuche-content {
    width: 1280px;
    margin: 0 auto;
    background: #ffffff;
}

#hendlersuche-text {
    padding: 235px 0px 0px 320px;
}

#hendlersuche-text span {

    font-family: Lato, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 51px;
    font-style: italic;
}

#line-3 {
    width: 1280px;
    height: 565px;
    background: #ea641d;
}

#hendlersuche-logo {
    padding: 166px 0 0 135px;

}

#form-handlersuche {
    color: #434755;
    font-family: Roboto;
    font-size: 20px;
    padding: 20px 25px 40px 0px;
    padding-left: 520px;
}

#form-handlersuche input[type="text"] {
    border: 1px solid #bababa;
    border-radius: 0px;
    width: 335px;
    height: 47px;
    color: #bababa;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 24px;
    margin-right: 17px;
}

#form-handlersuche input[type="button"] {
    width: 138px;
    height: 48px;
    background: #162e49;
    font-size: 14px;
    font-family: Lato, Helvetica, sans-serif;
    border: 1px solid #162e49;
    color: #ffffff;
}

#form-handlersuche input:hover[type="button"] {
    background: #3B3F42;
    cursor: pointer;
}

/* impresssum-page */

#faq-impressum {
    background: #f4f4f4;
}

#impressum-content {
    width: 1280px;
    margin: 0 auto;
    background: #ffffff;
}

#impressum-text {
    padding: 235px 0px 0px 320px;
}

#impressum-text span {

    font-family: Lato, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 51px;
    font-style: italic;
}

#line-3 {
    width: 1280px;
    height: 565px;
    background: #ea641d;
}

#impressum-logo {
    padding: 218px 0 0 135px;

}

#content_impressum-text {
    font-family: Lato, Helvetica, sans-serif;
    padding: 55px 155px 0px 170px;
    font-size: 16px;
}

#content_impressum-text p {
    padding-bottom: 40px;
}

/* story-page */

#story-wrapper {
    background: #f4f4f4;
}

#story-content {
    width: 1280px;
    margin: 0 auto;
    background: #ffffff;
}

#line-5 {
    width: 1280px;
    height: 490px;
    background: url('../images/img-story.jpg');
}

#story-logo {
    padding: 435px 0 0 135px;

}

#content_story-text {
    padding: 40px 180px 50px 200px;
    font-size: 16px;
    font-family: Lato, Helvetica, sans-serif;
    color: #222a31;
}

#text-block-img {
    float: right;
    margin-left: 90px;
}

#text1-story {
    padding-bottom: 40px;
}

#text2-story {
    padding-bottom: 40px;
}

#text3-story {
    padding-bottom: 40px;
}

#text4-story {
    padding-top: 110px;
}

#text5 p {
    font-family: Myriad Pro, Lucida Sans, Segoe UI, Calibri, sans serif;
    font-size: 16px;
    color: #222a31;
}

/* technik-page */

#technik-wrapper {
    background: #f4f4f4;
}

#technik-content {
    width: 1280px;
    margin: 0 auto;
    background: #ffffff;
}

#technik-text {
    padding: 462px 0px 0px 145px;
}

#technik-text span {

    font-family: Lato, Helvetica, sans-serif;
    color: #ea641d;
    font-size: 25px;
    padding: 15px 10px 0 10px;
    background: #ffffff;
}

#line-6 {
    width: 1280px;
    height: 490px;
    background: url('../images/img-technik.jpg');
}

#block1-technik {
    padding: 35px 190px 60px 200px;
    font-family: Lato, Helvetica, sans-serif;
    color: #222a31;
    font-size: 16px;
}

#block1-text-technik {
    padding-bottom: 40px;
}

#block2-text-technik {
    padding-bottom: 40px;
}

#img1-technik {
    width: 1280px;
    height: 327px;
    background: url('../images/img1-technik.jpg');
}

#img1-technik-text {
    padding: 299px 0px 0px 145px;
}

#img1-technik-text span {

    font-family: Lato, Helvetica, sans-serif;
    color: #ea641d;
    font-size: 25px;
    padding: 15px 10px 0 10px;
    background: #ffffff;
}

#block2-technik {
    padding: 35px 190px 60px 200px;
    font-family: Lato, Helvetica, sans-serif;
    color: #222a31;
    font-size: 16px;
}

#block21-text-technik {
    padding-bottom: 40px;
}

#img2-technik {
    width: 1280px;
    height: 327px;
    background: url('../images/img2-technik.jpg');
}

#img2-technik-text {
    padding: 299px 0px 0px 145px;
}

#img2-technik-text span {

    font-family: Lato, Helvetica, sans-serif;
    color: #ea641d;
    font-size: 25px;
    padding: 15px 10px 0 10px;
    background: #ffffff;
}

#block3-technik {
    padding: 35px 190px 60px 200px;
    font-family: Lato, Helvetica, sans-serif;
    color: #222a31;
    font-size: 16px;
}

#block31-text-technik {
    padding-bottom: 40px;
}

/*  technikal-data-page */

#technikal-data-wrapper {
    background: #f4f4f4;
    /*margin-top: -5px;*/
}

#technikal-data-content {
    width: 1280px;
    margin: 0 auto;
    background: #ffffff;
}

.technikal-data-text {
    top: 85px;
    position: relative;
    margin-left: 190px;
}

.technikal-data-text span {

    font-family: Lato, Helvetica, sans-serif;
    color: #2980b9;
    font-size: 51px;

}

#line-8 {
    width: 1280px;
    height: 590px;
    background: url('../images/bg-tests.jpg');
    margin-bottom: 40px;

}

#bg-1-middle {
    width: 624px;
    background: url('../images/bg1-line-8.png');
    height: 50px;
    margin: 0 auto;
}

.product table {
    border-spacing: 7px 20px;
    font-family: Lato, Helvetica, sans-serif;
    color: #747373;
    font-size: 14px;

}

.content_technikal-data-text h1 {
    font-family: Lato, Helvetica, sans-serif;
    color: #ea641d;
    font-size: 35px;
    padding-bottom: 40px;

}

.content_technikal-data-text {
    margin-left: 155px;
}

#model {
    text-align: center;
    background: #ffffff;
    position: absolute;
    z-index: 1;
    width: 509px;
    margin: 0 auto;
    /*border: 1px solid #bfbfbf;*/
    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
    /* margin-top: 0px; */
    padding: 5px 10px;
    font-family: Lato, Helvetica, sans-serif;
    color: #1e2020;
    font-size: 18px;
    top: 74px;
    /* bottom: 0; */
    right: 0;
    left: 0;
    margin-top: 8px;
}

#model span {
    margin-right: 20px;
    padding: 6px;

}

.active {
    background: #ea641d;
    color: #ffffff;
    cursor: pointer;
}

#model span:hover {
    background: #ea641d;
    color: #ffffff;
    cursor: pointer;
}

#model > span:nth-child(1){
    background: none;
    color: #000;
    cursor: auto;
}

.vel {
    margin: 0 auto;
    width: 787px;
    height: 495px;
    margin-top: -55px;
}

#bg-2-middle {
    width: 624px;
    background: url('../images/bg2-line-8.png');
    height: 50px;
    /* margin: 0 auto; */
    position: absolute;
    top: 613px;
    right: 0;
    left: 650px;
    bottom: 0;
}

.price {
    right: 130px;
    top: 100px;
    position: absolute;
    text-align: right;
}

.price h1 {
    font-family: Lato, Helvetica, sans-serif;
    color: #2980b9;
    font-size: 20px;

}

.price-1 {
    font-family: Lato, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 18px;
    background: black;
}

.price-2 {
    font-family: Lato, Helvetica, sans-serif;
    color: #575757;
    font-size: 12px;

}

.red {
    text-decoration: line-through;
    color: red;
}

.white {
    color: white;
}

#slider-arrows {
    position: absolute;
    max-width: 1280px;
    min-width: 960px;
    margin-top: 70px;
    z-index: 10;
    left: 0;
    right: 0;
    margin: 270px auto;
}

#slider-left-arrow {
    background-image: url('../images/left-arrow.png');
    background-repeat: no-repeat;
    width: 15px;
    height: 28px;
    float: left;
    cursor: pointer;
}

#slider-right-arrow {
    background-image: url('../images/right-arrow.png');
    background-repeat: no-repeat;
    background-position: right;
    width: 15px;
    height: 28px;
    float: right;
    cursor: pointer;
}

#slider-left-arrow:hover {
    background: url("../images/left-arrow-hover.png");
    background-repeat: no-repeat;
}

#slider-right-arrow:hover {
    background: url("../images/right-arrow-hover.png");
    background-repeat: no-repeat;
}

.left-ico {
    background: url(../images/pdf.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 47px;
    content: ' ';
    display: inline-block;
    float: left;
}

.doc-downloads {
    display: inline-flex;
}

.doc-downloads span.text1, .doc-downloads span.text2 {
    /*display: webkit-box;*/
    vertical-align: middle;
    font-size: 12px;

    padding-left: 20px;
    text-decoration: none;
    font-family: Lato, Helvetica, sans-serif;
    color: #000000;
    font-size: 16px;

}

.doc-left-item {
    width: 240px;
    margin-right: 50px;
}

.doc-right-item {
    width: 240px;
}

.doc-downloads a {
    text-decoration: none;
}

.doc-downloads a:hover span {
    color: red;
}

.doc-downloads a:hover .left-ico {
    background: url(../images/pdf-hover.png);
    background-repeat: no-repeat;
}

/* tests-page */

#tests-wrapper {
    background: #f4f4f4;
}

#tests-content {
    width: 1280px;
    margin: 0 auto;
    background: #ffffff;
}

.text-h {
    margin: 107px 1px 0 0;
    font-family: Lato, Helvetica, sans-serif;
    color: #ea641d;
    font-size: 51px;
    font-style: italic;
    position: absolute;
    /*padding: 167px 0px 0px 270px;*/
}

.text-p {
    font-family: Lato, Helvetica, sans-serif;
    color: #ea641d;
    font-size: 26px;
    font-style: normal;

    background: #ffffff;
}

#line-7 {
    width: 1280px;
    height: 480px;
    background: #ffffff;
    border-bottom: 1px solid #b5b8bd;
    position: relative;
}

#tests-logo {
    padding: 0 60px;
    position: absolute;
    top: 0;
    right: 0;

    padding: 0 60px;

}

#tests-text2 span {
    display: inline-block;
    margin: 465px 0 0 -161px;
    padding: 0 10px 0 10px;
}

#tests-block {
    border: 1px solid #b5b8bd;
    width: 960px;
    padding-bottom: 65px;
    margin: 80px auto 0px auto;
    padding-top: 45px;

    z-index: 1;
    position: relative;
}

#bg-tests {
    width: 100%;
    height: 480px;
    background: url(../images/bg-technical-data.png) no-repeat;
    z-index: 1;

}

#block-tab {
    padding-bottom: 45px;

    padding-top: 45px;
    font-family: Lato, Helvetica, sans-serif;
    color: #6d6d6d;
    font-size: 12px;
}

#block-1-text h1 {

    font-family: Lato, Helvetica, sans-serif;
    color: #6d6d6d;
    font-size: 40px;
}

#block-1-text span {

    font-family: Lato, Helvetica, sans-serif;
    color: #6d6d6d;
    font-size: 18px;
}

#tests-block > div {
    padding-left: 50px;
}

#block-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    top: 0px;
    text-align: center;
    opacity: 0;
}

#block-hover:hover {
    opacity: 0.9;
    background: #ec7231;
    z-index: 100;
    cursor: pointer;

}

#block-hover span {
    display: block;
    font-family: Lato, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 51px;
    font-style: italic;
}

.slide {
    position: relative;
}

#line-9 {
    width: 1280px;
    height: 490px;
    background: #ea641d;
}

#kontakt-content {
    width: 1280px;
    margin: 0 auto;
    background: #ffffff;
}

#content_kotakt-text {
    padding: 40px 180px 50px 200px;
    font-size: 16px;
    font-family: Lato, Helvetica, sans-serif;
    color: #222a31;
}

.technik-text {
    padding: 462px 0px 0px 145px;
}

.technik-text span {
    font-family: Lato, Helvetica, sans-serif;
    color: #ea641d;
    font-size: 25px;
    padding: 15px 10px 0 10px;
    background: #ffffff;
}

.kontakt-header-text {
    font-family: Lato, Helvetica, sans-serif;
    color: #ffffff;
    font-size: 51px;
    font-style: italic;
    padding: 130px 0 0 285px;
    position: absolute;
}

.a-over {
    display: block;
    height: 100%;
    padding-top: 360px;
    text-decoration: none;
}

.kontakt-blocks {
    display: flex;
    width: 910px;
    height: 210px;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;

}

.kontakt-blocks span {
    color: #565656;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 15px;
}

.kontakt-block1 {
    margin-right: 50px;

}

.title h1 {
    color: #ea641d;
    font-family: Lato, Helvetica, sans-serif;
    font-size: 26px;
    border-top: solid 1px #b5b8bd;
    width: 295px;

    margin: 30px auto;
    padding: 30px 0px 0px 0px;
}

#kontakt-map {
    width: 970px;
    height: 315px;
    margin: 0 auto;
    background: url("../images/kontakt-map.jpg");

}

#kontakt-form {
    width: 990px;
    height: 190px;
    margin: 0 auto;

}

#kontakt-form textarea {
    /*float: right;
    top: -82px;
    position: relative;
    height: 60px;
    background: #f9f9f9;
    padding: 8px ;
    right: 15px;
    width: 655px;*/
    width: 100%;
    height: 100px;
}

#kontakt-form input[type="text"] {
    width: 250px;
    height: 39px;
    margin-bottom: 20px;
    background: #f9f9f9;
    padding: 0px 10px;
    border: 1px solid gray;
}

.left-side {
    position: relative;
    width: 300px;
    float: left;
}

.right-side {
    width: 680px;
    float: right;
}

.bottom {
    float: right;
}

.bottom input[type="submit"] {
    height: 40px;
    width: 120px;
    color: #ffffff;
    background: #ea641d;
    border: none;
}

.bottom input[type="submit"]:hover {
    background: #C2967E;
    cursor: pointer;
    border: none;
}

#contact-form .alert {
    width: 550px;
    height: 26px;
    display: block;
    float: left;
    text-align: center;
    padding-top: 12px;
}

.alert.success {
    background: rgba(53, 128, 25, 0.54);
}
.alert.error {
    rgba(223, 62, 49, 0.54);
}

#header-wraper a:hover{

    color: #ea641d;
}