
   <footer>
   <div id="footer-wrapper">
    <div id="footer-blocks">
      <div class="block-1">
          <img src="images/icon_1-footer.png" alt="icon-1">
          <div class="block-text">
          <h1>BESTE TECHNIK</h1>
          <p>Jahrelange Erfahrung und kontinuierliche
          <br> Verbesserung führten zum der hervorragenden 
          <br>Kombination aus Technik und Design.</p>
          </div>
      </div>
      <div class="block-2">
          <img src="images/icon_2-footer.png" alt="icon-1">
          <div class="block-text">
          <h1>PERFEKTER SERVICE</h1>
          <p>Einer der ZEG Händler berät Sie gerne und 
          <br>hilft Ihnen, das perfekte Maranello zu 
          <br>finden.</p>
          </div>
      </div>
       <div class="block-3">
          <img src="images/icon_3-footer.png" alt="icon-1">
          <div class="block-text">
          <h1>FOLGEN SIE UNS</h1>
          <p>Folgen Sie uns auf Facebook und 
          <br>erhalten Sie die neusten Informationen.</p>
          <span><a href="">Hier klicken.</a></span>
           </div>
      </div>
    
        </div>
        <div id="line"></div>
        <div id="block-map"></div>
        <div id="map-footer"><img src="images/map-footer.jpg" alt="map"></div>
        <div id="map-text">
            <div id="text-left">
                <div id="text-left-blok1">
                <h1>Herausgeber</h1>
                <span>Zweirad Einkaufs-Genossenschaft eG
                <br> Longericher Straße 2
                <br>50739 Köln
                </span>
                </div>
                <div id="text-left-blok2">
                    <h1>Kontakt</h1>
                    <span>www.zeg.de
                    <br>kontakt@ktm-maranello.de
                    <br>Tel: +49 (0) 221 179590
                    <br>Fax: +49 (0) 221 1795974
                    </span>
                </div>
            </div>
            <div id="text-right">
                <div id="text-right-blok1">
                    <h1>Services</h1>
                        <span>Kontakt
                        <br>Impressum
                        </span>
                </div>
                <div id="text-right-blok2">
                    <h1>Links</h1>
                   <span> ktm-zeg.de
                    <br>ktm-bikes.at  
                    </span>       
                </div>
                <div id="text-right-blok3">
                    <h1>Daten</h1>
                        <span>Pflege 
                        <br>Datenblätter 
                        <br>Technische Daten
                        <br>Händlersuche
                    </span> 
                </div>
            </div>
        </div>
        <div id="line2">
            <div id="line2-text" align="center">
                <span>Alle Rechte vorbehalten.      -     Zweirad Einkaufs-Genossenschaft eG         Longericher Straße 2      50739 Köln</span>
            </div>
        </div>
    </div>
</footer>
</body>
</html>